/*#AC0623*/
@font-face {
    font-family: DfKaiSB;
    src: url(../fonts/kaiu.ttf);
}
@font-face {
    font-family:'icomoon';
    src:url(../fonts/icomoon.eot);
    src:url(../fonts/icomoon.eot?#iefix) format('embedded-opentype'),
        url(../fonts/icomoon.woff2) format('woff2'),
        url(../fonts/icomoon.woff) format('woff'),
        url(../fonts/icomoon.ttf) format('truetype'),
        url(../fonts/icomoon.svg) format('svg')
}
.icomoon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}
.icomoon-truck:before {
    content: '\e900';
}
.icomoon-box .path1:before {
    content: "\e90c";
    color: rgb(255, 255, 255);
}
.icomoon-box .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(37, 37, 37);
}
.icomoon-box .path3:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(161, 192, 87);
}
.icomoon-box .path4:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.font-dfkai {
    font-family: DfKaiSB;
}
body {
    /*background-color: #E8E8E8;*/
    color: #555;
    /*font-size: 16px;*/
}
ul{
    padding-left: 18px;
}
.ul-arrow {
    list-style-type: none;
}
.ul-arrow li:before {
    font-family: 'Glyphicons Halflings';
    content: "\e092";
    float: left;
    margin-left: -20px;
}
.background-light {
    background: rgb(243, 243, 243);
}
h3 {
    font-size: 20px !important;
}
h2 {
    font-size: 22px !important;
}
.h1, h1 {
    color: #38B15D;
}
.h2, h2 {
    background: #38B15D;
    padding: 10px;
    color: #fff;
    text-align: center;
}
h3, .h3 {
    background: #E8E8E8;
    padding: 10px;
    text-align: center;  
} 
.h3, .h4, .h5, .h6,
h3, h4, h5, h6 {
    color: #777;
}
#logo {
    padding-top: 20px;
}
.main-title {
    color: inherit;
}
ol, .breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
}
.breadcrumb {
    background-color: #E8E8E8;
}
a {
    color: #38B15D;
}
.navbar-default {
    border-radius: 0;
}
.dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #555;
}
.input-group {
    margin-bottom: 20px;
}
.color-green {
    color: #38B15D;
}
.color-red {
    color: #d9534f;
}
.well {
    background: none;
}

/***************** MAIN MENU *************/
#menu .navbar {
    border-bottom: 5px solid #38B15D;
    text-transform: uppercase;
    background: #F3F3F3;
    margin-bottom: 0;
}
#menu .navbar-nav>li>a:hover,
#menu .navbar-nav>li.focus,
#menu .navbar-nav>li.focus>a,
#menu .navbar-default .navbar-nav>.active>a, 
#menu .navbar-default .navbar-nav>.open>a {
    background: #38B15D;
    color: #fff;
}
#menu ul.dropdown-menu {
    margin-top: -1px;
    padding: 0;
    min-width: 276px;
}
#menu ul.dropdown-menu li a{
    height: 35px;
    padding-top: 7px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: #E8E8E8;
}
/***************** MENU TOP *************/
#menu-top {
    background: #38B15D;
    text-align: right;
}
#menu-top ul {
    list-style-type: none;
    padding: 5px 0px 5px 0px;
    margin: 0;
}
#menu-top ul li:first-child {
    border: 0;
}
#menu-top ul li {
    display: inline;
}
#menu-top ul li a{
    color: #fff;
    padding: 4px;
    text-align: center;
}
#banner{
    padding: 0 0 10px 0;
    color: #000;
    /*background: url(../images/background-header.jpg) -17px;*/
}
#content {
    min-height: 500px;
}
.input-group-addon, .form-control, .btn {
    border-radius: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active,
.btn-primary:focus, .btn-primary:hover, .btn-primary:active:focus {
    background-image: none;
    background-color: #38B15D;
    color: #fff;
    border: none;
}
.min-width-10-percent {
    min-width: 10%;
}
.min-width-15-percent {
    min-width: 15%;
}
.min-width-20-percent {
    min-width: 20%;
}
.bold {
    font-weight: bold;
}
.border {
    border: 1px solid #ddd;
    border-radius: 0;
}
.border-none {
    border: none;
    box-shadow: none;
}
.border-bottom {
    border-bottom: 1px solid #ddd;
}
.border-top {
    border-top: 1px solid #ddd;
}
.border-top-0 {
    border-top: none;
}
.text-underline {
    text-decoration: underline;
}
.margin-left-7 {
    margin-left: 7%;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-65 {
    font-size: 65px;
}
.height-150 {
    min-height: 150px !important;
}
.line-height-20 {
    line-height: 30px;
}
.border-left {
    border-left: 1px solid #ddd;
}
.border-right {
    border-right: 1px solid #ddd;
}
.no-background {
    background: none;
}
.padding-0 {
    padding: 0;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-left-30 {
    padding-left: 30px;
}
.padding-right-30 {
    padding-right: 30px;
}
.padding-left-50 {
    padding-left: 50px;
}
.padding-right-50 {
    padding-right: 50px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding {
    padding-right: 15px;
    padding-left: 15px;
}
.cursor-pointer {
    cursor: pointer;
}
.margin-auto {
    float: none;
    margin: auto;
}
.margin-0 {
    margin: 0;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-70 {
    margin-top: 70px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.min-height-40 {
    min-height: 40px;
}
@media (min-width: 320px) and (max-width: 768px) {
    .margin-top-xs-10 {
        margin-top: 10px;
    }
    .margin-right-xs-10 {
        margin-right: 10px;
    }
    .margin-top-xs-20 {
        margin-top: 20px;
    }
    .margin-right-xs-20 {
        margin-right: 20px;
    }
    .margin-bottom-xs-10 {
        margin-bottom: 10px;
    }
    .padding-xs-0 {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .col-sm-20-percent {
        width: 20%;
    }
    .margin-top-sm-10 {
        margin-top: 10px;
    }
    .margin-right-sm-10 {
        margin-right: 10px;
    }
    .margin-top-sm-20 {
        margin-top: 20px;
    }
    .margin-bottom-sm-10 {
        margin-bottom: 10px;
    }
    .margin-bottom-sm-20 {
        margin-bottom: 20px;
    }
    .margin-right-sm-20 {
        margin-right: 20px;
    }
    .margin-left-sm-20 {
        margin-left: 20px;
    }
    .line-height-sm-20 {
        line-height: 20px;
    }
    .padding-sm-0 {
        padding: 0;
    }
}
@media (min-width: 992px) {
    .line-height-md-30 {
        line-height: 30px;
    }
    .margin-top-md-10 {
        margin-top: 10px;
    }
    .margin-right-md-10 {
        margin-right: 10px;
    }
    .margin-top-md-20 {
        margin-top: 20px;
    }
    .margin-right-md-20 {
        margin-right: 20px;
    }
    .margin-bottom-md-10 {
        margin-bottom: 10px;
    }
}
@media (min-width: 1200px) {
    .line-height-lg-40 {
        line-height: 40px;
    }
}
.btn-show-hide-text-area .glyphicon {
    font-size: 14px;
}
.btn-show-hide-text-area {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background: #E8E8E8;
    color: #777;
    font-size: 18px;
}
.hidden-text-area {
    display: none;
}

/*.btn-show-hide-text-area:hover {
    background: rgba(217, 83, 79, 0.88);
}*/
#main-content {
    background-color: #fff;
    margin-bottom: 40px;
}
.node-process .subtitle-pic, .node-factory .subtitle-pic {
    display: table-row;
}
.subtitle-pic {
    font-weight: bold;
    margin-top: 10px;
    color: #307F83;
    width: 100%;
    text-align: center;
}
/****************** SLIDER ********************************/
.carousel-control.left, .carousel-control.right {
    background-image: none;
    opacity: 1;
    text-shadow: 0;
    width: 7%;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

/****************** CONTACT US *******************/
.node-contact-us .input-group-addon {
    min-width: 139px;
}
/****************** FOOTER *******************/
#footer {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    background: #38B15D;
    color: #fff;
}
.footer-logo {
    text-align:center;
    float:left;
}
.footer-logo img {
    height:86px;
}
@media (max-width: 767px) {
    .footer-logo {
        width: 100%;
        margin-bottom: 20px;
    }
}

.form-control-danger {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=);
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.4625rem 1.4625rem;
    background-size: 2.4625rem 3.4625rem;
    border: 1px solid #38B15D;
}
.popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
.error-message,
.error-message-email {
    border: 2px solid #38B15D;
    display: none;
    padding: 5px;
    text-align: center;
    color: #38B15D;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
/****************** HOMEPAGE ***********************/
#carousel-home-2 {
    min-height: 601px;
}
.node-home .slide .slide-text {
    position: absolute;
    bottom: 12px;
    font-size: 22px;
    background: #fff;
    padding: 5px;
    right: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: #38B15D;
}
.block.function img,
.block.logo-process img {
    max-width: 200px;
}
.category.block-line {
    text-align: center;
}
.node-home #carousel-home-2 .carousel-control.left, 
.node-home #carousel-home-2 .carousel-control.right {
    color: #777;
}
.node-home #carousel-home-2 .carousel-control span {
    font-size: 50px;
}
.node-home #carousel-home-2 .block-line-content {
    padding-right: 65px;
    padding-left: 65px;
}
.block-line img{
    width: 100%;
}
.node-home .qcs-news-block img {
    max-height: 140px;
}
/****************** PRODUCT PAGE *******************/
.main-picture-block .thumbnail {
    position: relative;
}
.enlarge {
    position: absolute;    
    bottom: 110px;
    right: 30px;
    cursor: pointer;
    font-size: 20px;
}
.thumbnails img {
    height: 65px;
}
.product-page .table {
    min-height: 284px;
}
.cell-key {
    font-weight: bold;
    background: #E8E8E8;
}
.block-tabs .nav {
    width: 100%;
}
.block-tabs .navbar-default .navbar-nav>li>a {
    background: #E8E8E8;
    text-shadow: none;
    color: #777;
}
.block-tabs .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background: #38B15D;
    color: #fff;
}
@media (min-width: 768px) {
    .block-tabs .navbar .navbar-collapse .nav li {
        width: calc(100%/4);
    }
}
@media (max-width: 768px) {

}
.block-tabs .navbar .navbar-collapse .nav li {
    font-weight: bold;
}
.tab {
    cursor: pointer;
}
.tab-block {
    display: none;
}
.block-active {
    display: block;
}

.tab-block .glyphicon{
    font-size: 22px;
    top: 4px;
    margin-right: 8px;
}
.tab-block .icomoon {
    font-size: 30px;
}
.document-center .list-title {
    font-weight: bold;
    cursor: pointer;
}
.list-doc {
    list-style: none;
    padding-left: 35px;
}

.thumb img {
    width: 100%;
}
.ymal h3 {
    background: #38B15D;
    color: #fff;
}
.ymal-pics .slick-next,
.ymal-pics .slick-prev {
    width: 40px;
}
.ymal-pics .slick-next {
    right:-50px;
}
.ymal-pics .slick-prev {
    left:-50px;
}
.ymal-pics .slick-prev:before,
.ymal-pics .slick-next:before {
    font-size: 40px;
}

/******** SLICK *********/
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover {
    height: 100%;
    background: #FFF !important;
    z-index: 10;
}
.slick-prev:before,
.slick-next:before {
    font-family: 'Glyphicons Halflings';
    color: #555;
}
.slick-next:before {
    content: "\e080";
}
.slick-prev:before {
    content: "\e079";
}
.slick-slide {
    text-align: center;
    cursor: pointer;
}
